<div class = "custom-box col-10 offset-1">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'user.png' %>
    </div>

    <div class = "col-8">
      <h1><%= @user.email %></h1>
    </br>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="clear"></div>

</br>

<div>
  <br /><br />
  <div class = 'offset-2 col-8'>
    <h2 class = 'front-header' >My MacroPuzzler Food Contributions</h2>
  </div>
  <br /><br />
  <% @user.foods.each do |food| %>
    <div class = "custom-box col-10 offset-1">
      <h2><strong><%= food.name %></strong><h2>
      <i><%= food.restaurant %></i>
      <ul>
        <li>Fat: <%= food.fat %></li>
        <li>Carbs: <%= food.carbs %></li>
        <li>Protein: <%= food.protein %></li>
        <li>Calories: <%= food.calories %></li>
      </ul>
    </div>
  <% end %>
</div>

</br>
</br>
