<div class = "col-8 offset-2">
  <h1 class = "front-header">A Fast Way to Find the Best Fit for the Feast!</h1><br/>
</div>

  <div class="findfit-box col-4 offset-4">
    <h3 class = "search">FIND FITS HERE</h3>
    <br />
    <%= search_form_for @q, url: root_path do |f| %>
    <div>
      <%= f.label :fat_lteq, "Fat:" %>
      <%= f.search_field :fat_lteq %>
    </div>
    <br />
    <div>
      <%= f.label :carbs_lteq, "Carbs:" %>
      <%= f.search_field :carbs_lteq %>
    </div>
    <br />
    <div>
      <%= f.label :protein_lteq, "Protein:" %>
      <%= f.search_field :protein_lteq %>
    </div>
    <br />
    <i>Output as fat/carbs/protein less than or equal to inputs</i>
    <br />
    <br />
    <%= f.submit %>
    <%= link_to "Clear Search", request.path, class:"cancel-button" %>
    <% end %>
  </div>

  </br>
  </br>

  <% if @q.result.count == 0 %>

  <div class = 'null_results'>
    <h2> Sorry! Currently, no foods on our site are within your macros.
      You may sign up to add foods to the site to help others!  </h2>
  </div>

  <% else %>

    <% @foods.each do |food| %>
      <div class = "custom-box col-6 offset-3">
        <h2><strong><%= food.name %></strong><h2>
        <i><%= food.restaurant %></i>
        <h4>Macros: <%= food.fat %>/<%= food.carbs %>/<%= food.protein %></h4>
      </div>
    <%end%>

<% end %>

<%= will_paginate @foods, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
