<div class = "col-8 offset-2">
  <h1 class = "front-header">A Fast Way to Find the Best Fit for the Feast!</h1><br/>
</div>

  <div class="findfit-box col-4 offset-4">
    <h3>FIND FITS HERE</h3>
    <small>lists foods less than or equal to given macros</small>
    </br>
    </br>
    <%= search_form_for @q, url: root_path do |f| %>
    <div>
      <%= f.label :fat_lteq, "Fat:" %>
      <%= f.search_field :fat_lteq %>
    </div>
    </br>
    <div>
      <%= f.label :carbs_lteq, "Carbs:" %>
      <%= f.search_field :carbs_lteq %>
    </div>
    </br>
    <div>
      <%= f.label :protein_lteq, "Protein:" %>
      <%= f.search_field :protein_lteq %>
    </div>
    </br>
    <%= f.submit %>
    <%= link_to "Clear Search", request.path, class:"cancel-button" %>
    <% end %>
  </div>

  </br>
  </br>

  <% if @q.result.count == 0 %>

  <div class = 'null_results'>
    <h2> Sorry! Currently, no foods on our site are within your macros.
      You may sign up to add foods to the site to help others!  </h2>
  </div>

  <% else %>

    <% @foods.each do |food| %>
      <div class = "custom-box col-10 offset-1">
        <h2><strong><%= food.name %></strong><h2>
        <i><%= food.restaurant %></i>
        <ul>
          <li>Fat: <%= food.fat %></li>
          <li>Carbs: <%= food.carbs %></li>
          <li>Protein: <%= food.protein %></li>
          <li>Calories: <%= food.calories %></li>
        </ul>
      </div>
    <%end%>

<% end %>

<%= will_paginate @foods, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
