<h1 class = "front-header">A Fast Way to Find the Best Fit for the Feast!</h1><br/>



<%-# FIND YOUR FIT -%>
<%-# Need to get protein, fat carbs from user -%>

<%-# Do this by having form in the middle of page -%>

<%-# find a way to output foods only if they're within 2g (fat) or 5g (prot/carbs
#of the user's entry) -%>

<%-# if not within range "Sorry! Currently, no foods match your request.
#You may add foods to the site to help others as you find foods that match!" -%>


<% @foods.each do |food| %>
  <div class = "custom-box col-10 offset-1">
    <h2><strong><%= food.name %></strong><h2>
    <i><%= food.restaurant %></i>
    <ul>
      <li>Fat: <%= food.fat %></li>
      <li>Carbs: <%= food.carbs %></li>
      <li>Protein: <%= food.protein %></li>
      <li>Calories: <%= food.calories %></li>
    </ul>
  </div>
<%end%>
